project:
  type: website
  output-dir: docs

website:
  title: "Victor's Website"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd
      - projects.qmd
  page-footer:
    left: "Copyright 2025, Victor"

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true

editor: visual

